.buildpath
.project
.env
.metadata
.classpath
.settings/
composer.lock
node_modules/
.settings/
.DS_Store
vendor/
frontend/node_modules/
*.log
package-lock.json
.php_cs.cache
logs/

www/public
www/storage
www/apis
www/debugbar
/phinx.yml
/.testing
