.buildpath
.project
.env
.metadata
.classpath
.settings/
composer.lock
node_modules/
.DS_Store
vendor/
*.log
.php_cs.cache
logs/
/.env.phpunit
.vscode
.phpunit.result.cache
/.idea
.php-cs-fixer.cache
.rr.yaml
storage/phpstan
workflow.svg
