.buildpath
.project
.env
.metadata
.classpath
.settings/
composer.lock
node_modules/
.DS_Store
vendor/
assets/frontend/node_modules/
*.log
.php_cs.cache
logs/
www/static
www/attachments
www/apis
www/debugbar
/.env.phpunit
.vscode
.phpunit.result.cache
/.idea
/debugbar
/static
/apis
/attachments
.php-cs-fixer.cache
storage/phpstan