// Environment production、testing and development
ENVIRONMENT = testing

// Debug
DEBUG = true
DEBUG_JSON = true
DEBUG_CONSOLE = true
DEBUG_JAVASCRIPT = true

// Encryption key
AUTH_KEY = 7becb888f518b20224a988906df51e05

// Resource `php leevel link:[public|storage]`
DOMAIN =
PUBLIC = http://127.0.0.1:9527/public
STORAGE = http://127.0.0.1:9527/storage

// Lang
I18N = zh-CN

// Database
DATABASE_DRIVER = mysql
DATABASE_HOST = 127.0.0.1
DATABASE_PORT = 3306
DATABASE_NAME = test
DATABASE_USER = root
DATABASE_PASSWORD =

// Cache
CACHE_DRIVER = file
CACHE_EXPIRE = 86400
CACHE_REDIS_HOST = 127.0.0.1
CACHE_REDIS_PORT = 6379
CACHE_REDIS_PASSWORD = null
CACHE_REDIS_POOL_MAX_IDLE_CONNECTIONS = 30
CACHE_REDIS_POOL_MIN_IDLE_CONNECTIONS = 10

// Session
SESSION_DRIVER = file
SESSION_REDIS_HOST = 127.0.0.1
SESSION_REDIS_PORT = 6379
SESSION_REDIS_PASSWORD = null

// Log
LOG_DRIVER = file

// Throttler
THROTTLER_DRIVER = file

// Mail
MAIL_DRIVER = smtp
MAIL_HOST = smtp.qq.com
MAIL_PORT = 465
MAIL_USERNAME = null
MAIL_PASSWORD = null
MAIL_ENCRYPTION = null

// Filesystem
FILESYSTEM_DRIVER = local
FILESYSTEM_FTP_HOST = ftp.example.com
FILESYSTEM_FTP_PORT = 21
FILESYSTEM_FTP_USERNAME = your-username
FILESYSTEM_FTP_PASSWORD = your-password
FILESYSTEM_SFTP_HOST = sftp.example.com
FILESYSTEM_SFTP_PORT = 22
FILESYSTEM_SFTP_USERNAME = your-username
FILESYSTEM_SFTP_PASSWORD = your-password

// View
VIEW_DRIVER = html

// Console
FRAMEWORK_DOC_OUTPUTDIR = "/data/codes/queryphp_framework/docs"
FRAMEWORK_DOC_GIT = "https://github.com/hunzhiwange/framework/blob/master"
