parameters:
	level: 1
	paths:
		- api
		- app
		- assets/database
	bootstrapFiles:
		- %currentWorkingDirectory%/assets/phpstan/bootstrap.php
	cache:
		nodesByStringCountMax: 128
	checkUninitializedProperties: true
	checkMissingCallableSignature: true
	excludePaths:
		- %currentWorkingDirectory%/*Test.php
		- ../src/Reflection/SignatureMap/functionMap.php
		- ../src/Reflection/SignatureMap/functionMetadata.php
		- ../tests/*/data/*
		- ../tests/tmp/*
		- ../tests/PHPStan/Analyser/traits/*
		- ../tests/notAutoloaded/*
		- ../tests/PHPStan/Generics/functions.php
		- ../tests/PHPStan/Reflection/UnionTypesTest.php
		- ../tests/PHPStan/Reflection/MixedTypeTest.php
		- ../tests/PHPStan/Reflection/StaticTypeTest.php
		- ../tests/e2e/magic-setter/*
		- ../tests/PHPStan/Rules/Properties/UninitializedPropertyRuleTest.php
		- ../tests/PHPStan/Command/IgnoredRegexValidatorTest.php
		- ../src/Command/IgnoredRegexValidator.php
	exceptions:
		uncheckedExceptionClasses:
			- 'PHPStan\ShouldNotHappenException'
			- 'Symfony\Component\Console\Exception\InvalidArgumentException'
			- 'PHPStan\BetterReflection\SourceLocator\Exception\InvalidFileLocation'
			- 'PHPStan\BetterReflection\SourceLocator\Exception\InvalidArgumentException'
			- 'Symfony\Component\Finder\Exception\DirectoryNotFoundException'
			- 'InvalidArgumentException'
			- 'PHPStan\DependencyInjection\ParameterNotFoundException'
			- 'PHPStan\Analyser\UndefinedVariableException'
			- 'RuntimeException'
			- 'Nette\Neon\Exception'
			- 'Nette\Utils\JsonException'
			- 'PHPStan\File\CouldNotReadFileException'
			- 'PHPStan\File\CouldNotWriteFileException'
			- 'PHPStan\Parser\ParserErrorsException'
			- 'ReflectionException'
			- 'Nette\Utils\AssertionException'
			- 'PHPStan\File\PathNotFoundException'
			- 'PHPStan\Broker\ClassNotFoundException'
			- 'PHPStan\Broker\FunctionNotFoundException'
			- 'PHPStan\Broker\ConstantNotFoundException'
			- 'PHPStan\Reflection\MissingMethodFromReflectionException'
			- 'PHPStan\Reflection\MissingPropertyFromReflectionException'
			- 'PHPStan\Reflection\MissingConstantFromReflectionException'
			- 'PHPStan\Type\CircularTypeAliasDefinitionException'
			- 'PHPStan\Broker\ClassAutoloadingException'
			- 'LogicException'
			- 'TypeError'
			- 'DivisionByZeroError'
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
	reportStaticMethodSignatures: true
	tmpDir: %rootDir%/../../storage/phpstan