parameters:
	level: 9
	paths:
		- app
		- option
		- assets/database
		- tests
	bootstrapFiles:
		- %currentWorkingDirectory%/assets/phpstan/bootstrap.php
	cache:
		nodesByStringCountMax: 128
	checkUninitializedProperties: true
	checkMissingCallableSignature: true
	excludePaths:
		- %currentWorkingDirectory%/*Test.php
	ignoreErrors:
		- '#Access to an undefined property [\S\s]+::\$[\S\s]+\.#'
		- '#should return [\S\s]+ but returns Leevel\\Database\\Ddd\\Entity\.#'
		- '#should return [\S\s]+ but returns Leevel\\Database\\Ddd\\Repository\.#'
		- '#Property [\S\s]+ does not accept Leevel\\Database\\Ddd\\Entity\.#'
		- '#Parameter [\S\s]+ of method [\S\s]+ expects [\S\s]+, [\S\s]+ given\.#'
		- '#no value type specified in iterable type array\.#'
		- '#no signature specified for Closure\.#'
		- '#Cannot call method [\S\s]+ on Leevel\\Support\\[\S\s]+\|null\.#'
		- '#Cannot call method withProps\(\) on [\S\s]+\|null\.#'
		- '#Argument of an invalid type Leevel\\Support\\TypedIntArray\|null supplied for foreach, only iterables are supported\.#'
		- '#Cannot access property \$[\S\s]+ on [\S\s]+\|null\.#'
		- '#Cannot access offset [\S\s]+ on mixed\.#'
		- '#Cannot cast mixed to[\S\s]+\.#'
		- '#Cannot access property [\S\s]+ on mixed\.#'
		- '#[\S\s]+ throws checked exception Error but [\S\s]+ missing from the PHPDoc @throws tag\.#'
		- '#Class [\S\s]+ has an uninitialized property [\S\s]+. Give it default value or assign it in the constructor\.#'
		- '#[\S\s]+ with no signature specified for callable\.#'
		- '#Unsafe usage of new static\(\)\.#'
	exceptions:
		uncheckedExceptionClasses:
			- 'PHPStan\ShouldNotHappenException'
			- 'Symfony\Component\Console\Exception\InvalidArgumentException'
			- 'PHPStan\BetterReflection\SourceLocator\Exception\InvalidFileLocation'
			- 'PHPStan\BetterReflection\SourceLocator\Exception\InvalidArgumentException'
			- 'Symfony\Component\Finder\Exception\DirectoryNotFoundException'
			- 'InvalidArgumentException'
			- 'PHPStan\DependencyInjection\ParameterNotFoundException'
			- 'PHPStan\Analyser\UndefinedVariableException'
			- 'RuntimeException'
			- 'Exception'
			- 'Nette\Neon\Exception'
			- 'Nette\Utils\JsonException'
			- 'PHPStan\File\CouldNotReadFileException'
			- 'PHPStan\File\CouldNotWriteFileException'
			- 'PHPStan\Parser\ParserErrorsException'
			- 'ReflectionException'
			- 'Nette\Utils\AssertionException'
			- 'PHPStan\File\PathNotFoundException'
			- 'PHPStan\Broker\ClassNotFoundException'
			- 'PHPStan\Broker\FunctionNotFoundException'
			- 'PHPStan\Broker\ConstantNotFoundException'
			- 'PHPStan\Reflection\MissingMethodFromReflectionException'
			- 'PHPStan\Reflection\MissingPropertyFromReflectionException'
			- 'PHPStan\Reflection\MissingConstantFromReflectionException'
			- 'PHPStan\Type\CircularTypeAliasDefinitionException'
			- 'PHPStan\Broker\ClassAutoloadingException'
			- 'LogicException'
			- 'TypeError'
			- 'DivisionByZeroError'
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
	reportStaticMethodSignatures: true
	tmpDir: %rootDir%/../../storage/phpstan
	reportUnmatchedIgnoredErrors: false