<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
    stopOnFailure="false">
    <listeners>
        <listener class="NunoMaduro\Collision\Adapters\Phpunit\Listener" />
        <listener class="hollodotme\PHPUnit\TestListeners\TestDox\Markdown">
            <arguments>
                <string name="environment">Development</string>
                <string name="outputFile">build/logs/TestDox.md</string>
            </arguments>
        </listener>
    </listeners>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">application</directory>
            <directory suffix=".php">common</directory>
        </whitelist>
    </filter>
    <php>
        <env name="ENVIRONMENT" value="testing"/>
    </php>
</phpunit>
