<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="tests/bootstrap.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Main Test Suite">
      <directory>./tests/</directory>
    </testsuite>
    <testsuite name="App Test Suite">
      <directory>./app/</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>ignoredGroup</group>
    </exclude>
  </groups>
  <php>
    <env name="RUNTIME_ENVIRONMENT" value="env.phpunit"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app/</directory>
    </include>
    <exclude>
      <directory suffix="Test.php">./app/</directory>
    </exclude>
  </source>
</phpunit>
