.pagination {
    padding: 2px 5px;
    white-space: nowrap;
    color: #48576a;
}

.pagination button, .pagination span {
    display: inline-block;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    box-sizing: border-box;
    font-size: 13px;
    vertical-align: top;
}

.pagination .pagination-jump {
    margin-left: 10px;
}

.pagination .pagination-total {
    margin: 0 10px;
}

.pagination button {
    border: none;
    background: transparent;
}

.pagination button:focus {
    outline: none;
}

.pagination button:hover {
    color: #20a0ff;
}

.pagination button.disabled {
    background-color: #fff;
    color: #e4e4e4;
    cursor: not-allowed;
}

.pagination .btn-next, .pagination .btn-prev {
    margin: 0;
    line-height: 24px;
    border: 1px solid #d1dbe5;
    background: 50% no-repeat;
    background-size: 16px;
    background-color: #fff;
    color: #97a8be;
    cursor: pointer;
}

.pagination .pagination-editor {
    margin: 0 6px;
    width: 30px;
    line-height: 18px;
    padding: 4px 2px;
    border: 1px solid #d1dbe5;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;
    transition: border .3s;
}

.pagination .pagination-editor::-webkit-inner-spin-button, .pagination .pagination-editor::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.pagination .pagination-editor:focus {
    border-color: #20a0ff;
    outline: none;
}

.pagination .pager {
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    font-size: 0;
}

.pagination .pager, .pagination .pager li {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.pagination .pager {
    margin-left: -6px;
    margin-right: -6px;
}

.pagination .pager li {
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #d1dbe5;
    border-right: 0;
    box-sizing: border-box;
    background: #fff;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
}

.pagination .pager li:last-child {
    border-right: 1px solid #d1dbe5;
}

.pagination .pager li.btn-quicknext, .pagination .pager li.btn-quickprev {
    line-height: 20px;
    color: #97a8be;
}

.pagination .pager li.btn-quicknext:hover, .pagination .pager li.btn-quickprev:hover {
    line-height: 25px;
    cursor: pointer;
}

.pagination .pager li.active+li {
    padding-left: 5px;
    border-left: 0;
}

.pagination .pager li:hover {
    color: #20a0ff;
}

.pagination .pager li.active {
    border-color: #20a0ff;
    background-color: #20a0ff;
    color: #fff;
    cursor: default;
}

.pagination .pager li.active a {
    color: #fff;
    cursor: default;
}

.pagination .pager li.active a:hover {
    color: #fff;
}

.pagination .pager li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #4078c0;
}

.pagination .pager li a:hover {
    color: #20a0ff;
}

.pagination-small {}
