/** extended css */
.main .sidebar-menu-con .ivu-menu-vertical .ivu-menu-item:hover,
.main .sidebar-menu-con .ivu-menu-vertical .ivu-menu-submenu-title:hover {
    color: #71400b;
}

.main
    .sidebar-menu-con
    .ivu-shrinkable-menu
    .ivu-menu-light.ivu-menu-vertical
    .ivu-menu-item-active:not(.ivu-menu-submenu) {
    color: #71400b;
    font-weight: bold;
}
