.switch-theme-con .ivu-icon {
    color: #10a082;
}

.main-header {
    background: #a5a9b1;
}

.main-header .header-avator-con .ivu-menu-primary {
    background: #a5a9b1;
}

.logo-con {
    background: #10a082;
}

.main .tags-con .ivu-tag:hover {
    background: #b5bec5 !important;
}

.main .tags-con .ivu-tag-blue {
    background: #b5bec5 !important;
}

.main .tags-con .tags-outer-scroll-con .close-all-tag-con,
.main .tags-con .tags-outer-scroll-con .leftmove-tag-con,
.main .tags-con .tags-outer-scroll-con .tag-dashboard {
    background: #a5a9b1;
}

.main .tags-con .ivu-tag-blue.ivu-tag-dot .ivu-tag-dot-inner {
    background: #fff;
}

.main .header-avator-con .ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item:hover {
    background: #a5a9b1 !important;
}

.main .header-avator-con .ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item-active {
    background: #a5a9b1 !important;
}

.main .tags-con .ivu-tag-blue .ivu-tag-text {
    color: white !important;
}

.ivu-select-dropdown {
    padding: 0;
}

.ivu-card-extra {
    top: 9px;
}
