/** extended css */
.main .sidebar-menu-con .ivu-shrinkable-menu {
    background: #f5f5f5;
}

.main .sidebar-menu-con .ivu-shrinkable-menu .ivu-menu-light {
    background: #f5f5f5;
}

.main .sidebar-menu-con .ivu-menu-vertical .ivu-menu-item:hover,
.main .sidebar-menu-con .ivu-menu-vertical .ivu-menu-submenu-title:hover {
    background: #e6e6e6;
    color: #3b73af;
}

.main
    .sidebar-menu-con
    .ivu-shrinkable-menu
    .ivu-menu-light.ivu-menu-vertical
    .ivu-menu-item-active:not(.ivu-menu-submenu) {
    color: black;
    background: #f5f5f5;
    font-weight: bold;
}

.main
    .sidebar-menu-con
    .ivu-shrinkable-menu
    .ivu-menu-light.ivu-menu-vertical
    .ivu-menu-item-active:not(.ivu-menu-submenu):hover {
    background: #e6e6e6;
}

.main
    .sidebar-menu-con
    .ivu-shrinkable-menu
    .ivu-menu-light.ivu-menu-vertical
    .ivu-menu-item-active:not(.ivu-menu-submenu):after {
    background: #2a6ca3;
}

.main .sidebar-menu-con .ivu-shrinkable-menu .ivu-menu {
    color: #3b73af;
}
