.switch-theme-con .ivu-icon {
    color: rgba(186, 40, 53, 1);
}

.main-header {
    background: rgba(186, 40, 53, 1);
}

.main-header .header-avator-con .ivu-menu-primary {
    background: rgba(186, 40, 53, 1);
}

.logo-con {
    background: rgba(0, 49, 79, 1);
}

.main .tags-con .ivu-tag:hover {
    background: rgba(112, 149, 159, 1) !important;
}

.main .tags-con .ivu-tag-blue {
    background: rgba(112, 149, 159, 1) !important;
}

.main .tags-con .tags-outer-scroll-con .close-all-tag-con, .main .tags-con .tags-outer-scroll-con .leftmove-tag-con, .main .tags-con .tags-outer-scroll-con .tag-dashboard {
    background: rgba(186, 40, 53, 1);
}

.main .tags-con .ivu-tag-blue.ivu-tag-dot .ivu-tag-dot-inner {
    background: rgba(175, 215, 237, 1);
}

.main .header-avator-con .ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item:hover,.main .header-avator-con .ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item-active {
    background: rgba(112, 149, 159, 1) !important;
}

.ivu-tag-blue .ivu-tag-text{
    color: red;
}
