/** extended css */
.main .sidebar-menu-con .ivu-shrinkable-menu {
    background: #be1930;
    background-image: linear-gradient(to bottom, #33343f, #d31b32);
}

.main .sidebar-menu-con .ivu-shrinkable-menu .ivu-menu-light {
    /* background: #be1930; */
    background: transparent;
}

.main .sidebar-menu-con .ivu-menu-vertical .ivu-menu-item:hover,
.main .sidebar-menu-con .ivu-menu-vertical .ivu-menu-submenu-title:hover {
    background: transparent;
    color: white;
}

.main
    .sidebar-menu-con
    .ivu-shrinkable-menu
    .ivu-menu-light.ivu-menu-vertical
    .ivu-menu-item-active:not(.ivu-menu-submenu) {
    color: white;
    background: #be1930;
    font-weight: bold;
}

.main
    .sidebar-menu-con
    .ivu-shrinkable-menu
    .ivu-menu-light.ivu-menu-vertical
    .ivu-menu-item-active:not(.ivu-menu-submenu):after {
    background: #71400b;
}

.main .sidebar-menu-con .ivu-shrinkable-menu .ivu-menu {
    color: hsla(0, 0%, 100%, 0.7);
}
