.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.el-header {
    color: #ffffff;
    line-height: 60px;
    padding: 0 0;
    background: #327ddc;
}

.el-header .logo {
    display: block;
    width: 150px;
    height: 60px;
    overflow: hidden;
}

.el-header .logo span {
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    padding-left: 12px;
}

.el-header .el-dropdown-link {
    height: 60px;
    display: block;
    padding: 0 20px;
    color: #ffffff;
}

.el-header .system-message .el-badge__content {
    margin-top: 11px;
    border: none;
}

.el-aside {
    background-color: #ffffff;
    color: #333;
    overflow: inherit;
    position: fixed;
    bottom: 0;
    top: 61px;
    border-right: 1px solid #ededed;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.el-aside .el-submenu__title {
    font-weight: bold;
    color: #3a3d46;
}

.el-aside .el-submenu .el-menu-item {
    min-width: 0;
}

/*.hide-leftMenu {
    left: 0px;
}*/

/*.el-menu {
    border-right: none
}*/

.el-main {
    background-color: transparent;
    color: #333;
    overflow: inherit;
    height: 100%;
    position: fixed;
    left: 150px;
    right: 0px;
    top: 60px;
    padding: 22px 10px;
}

.content-main {
    margin-top: -10px;
}

.el-container:nth-child(5) .el-aside, .el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

.el-row {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}

.el-col {
    border-radius: 4px;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.el-menu-header {
    background: transparent;
}
